$first-color: #6d071a;
$first-color-light: lighten($first-color, 15%);
$first-color-dark: #37030D;

$font-title: "PT Serif", serif;
$font-family: "Poppins", sans-serif;
$font-icon: 'FontAwesome';

$transition: 0.3s ease all;