$first-color: #6d071a;
$first-color-light: lighten($first-color, 15%);
$first-color-dark: #37030D;

$color-white-wine: #FFD359;
$color-rose-wine: #DB7093;
$color-red-wine: #6D071A;

$font-title: "PT Serif", serif;
$font-family: "Poppins", sans-serif;
$font-icon: 'FontAwesome';

$transition: 0.3s ease all;